.box {
  background-color: #121212;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  min-width: 1250px;
}

.main {
  flex: 1;
  display: flex;
}

.dog {
  width: 100px;
  position: absolute;
  top: 10%;
  left: calc((100dvw - 794px) / 4 - 50px);
  /* animation: wobble 1s .2s ease both infinite; */
}


@-webkit-keyframes wobble{
 0%,20%,50%,80%,100%{-webkit-transform:translateY(0)}
  40%{-webkit-transform:translateY(-15px)}
  60%{-webkit-transform:translateY(-15px)}
}

.fmWrap {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fm {
  width: 794px;
  height: 96%;
  background-color: #424242;
  overflow: hidden;
  overflow-y: auto;
  color: rgba(255,255,255,.8);
  border-radius: 4px;
}